<li id="micropost-<%= micropost.id %>">

  <% if user != false %>
    <div>
      <span class="glyphicon glyphicon-retweet retweeted-glyph"></span>
      <span class="retweeter"><%= link_to user.name, user, class: "retweeter" %> retweeted</span>
      <span class="retweeter"><%= link_to micropost.user.name, micropost.user, class: "retweeter" %></span>
    <div>
  <% end %>


  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>

  <span class="content">
    <%= micropost.content %>
    <% if micropost.picture? %>
      <div class="picture">
        <%= image_tag micropost.picture.url %>
      </div>
    <% end %>
  </span>
  <div class="tweet-actions">
    <span class="rt-select"
        id="rt-<%= micropost.id %>"
        data-toggle="tooltip"
        data-placement="above"
        title="Retweet">

      <span class="glyphicon glyphicon-retweet retweet<%= micropost.retweets.count > 0 ? ' retweeted' : '' %>" aria-hidden='true'></span>
      <span class="retweet rt-count<%= micropost.retweets.count > 0 ? " retweeted" : ""%>"><%= micropost.retweets.count %></span>
    </span>

    <span class="fav-select" 
        id="fav-<%= micropost.id %>"
        data-toggle="tooltip"
        data-placement="above"
        title="Favorite">
      <span class="glyphicon glyphicon-star favorite<%= micropost.favorites.count > 0 ? ' favorited' : '' %>" aria-hidden='true'>
      </span>
      <span class="favorite fav-count<%= micropost.favorites.count > 0 ? " favorited" : "" %>"><%= micropost.favorites.count %></span>
    </span>


    <span class="timestamp">
      <%= time_ago_in_words(micropost.created_at) %> ago
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete,
                                    data: {confirm: "You sure?"} %>
      <% end %>
    </span>
  </div>
    <%= form_for Retweet.new, remote: true, 
            :url => {:controller => :retweets, action: :update },
            :html => { :id => "retweet-#{micropost.id}" } do |f| %>
      <span><%= hidden_field_tag :micropost_id, micropost.id %></span>
    <% end %>

    <%= form_for Favorite.new, remote: true, 
            :url => {:controller => :favorites, action: :update }, 
            :html => { :id => "favorite-#{micropost.id}" } do |f| %>
      <span><%= hidden_field_tag :micropost_id, micropost.id %></span>
    <% end %>
</li>

